RewriteEngine on

# Redirect to SSL
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Route all to frontcontroller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [NC,L]
